{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "no-console": 0,
    "no-alert": 0,
    "no-debugger": 1,
    "no-param-reassign": 0,
    "@typescript-eslint/rule-name": "error"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "sourceType": "module"
  },
  "globals": {
    "velocity": true,
    "_": true,
    "axios": true,
    "YT": true
  }
}
